.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
notebooks/.ipynb_checkpoints/
notebooks/*_answers.ipynb
notebooks/variables/.ipynb_checkpoints/
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
notebooks/variables/.DS_Store
scripts/.DS_Store
scripts/solar_system/.DS_Store
env/
log.txt
.DS_Store
scripts/shape/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/0001_initial.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/site.webmanifest
practica/week1/.ipynb_checkpoints/
practica/pics/.ipynb_checkpoints/mars.nasa-checkpoint.jpg
practica/week1/*.ipynb_checkpoints
scripts/__pycache__/random.cpython-310.pyc
practica/week1/booleans_with_solutions.ipynb
practica/week1/numbers_with_solutions.ipynb
practica/week1/strings_with_solutions.ipynb
practica/week2/dictionaries_with_solutions.ipynb
practica/week2/.ipynb_checkpoints/functions-checkpoint.ipynb
practica/pip/.ipynb_checkpoints/requirements-checkpoint.txt
practica/week2/.ipynb_checkpoints/
scripts/pytorch/backprop_example.py
practica/pics/banner.PNG
practica/pics/banner.PNG
.gitignore
practica/pics/.ipynb_checkpoints/new_listdir-checkpoint.ipynb
practica/pics/earth_scaled.jpg
practica/pics/earth.jpg
practica/pics/jupiter_scaled.jpg
practica/pics/jupiter.jpg
practica/pics/mars_scaled.jpg
practica/pics/mars.jpg
practica/pics/mercury_scaled.jpg
practica/pics/mercury.jpg
practica/pics/neptune_scaled.jpg
practica/pics/neptune.jpg
practica/pics/new_listdir.ipynb
practica/pics/saturn.jpg
practica/pics/uranus.jpg
practica/pics/venus.jpg
projects/proj_gezondheidszorg/docs/achtergrond_informatie/bmiforpactitioners.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_en.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_nl.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/regression.pdf
projects/proj_gezondheidszorg/docs/attic/design.txt
projects/proj_gezondheidszorg/rest_server/browse.sh
projects/proj_gezondheidszorg/rest_server/create_superuser.sh
projects/proj_gezondheidszorg/rest_server/install.sh
projects/proj_gezondheidszorg/rest_server/migrate.sh
projects/proj_gezondheidszorg/rest_server/requirements.txt
projects/proj_gezondheidszorg/rest_server/start_rest_server.sh
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/manage.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata_snippet.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/webscrapedata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/asgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/settings.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/wsgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/admin.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/apps.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/models.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/serializers.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/tests.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/views.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-192x192.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-512x512.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/apple-touch-icon.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-16x16.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-32x32.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon.ico
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/load_data.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__init__.py
projects/proj_gezondheidszorg/docs/achtergrond_informatie/bmiforpactitioners.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_en.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_nl.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/regression.pdf
projects/proj_gezondheidszorg/docs/attic/design.txt
projects/convert_path.py
projects/PROJECT_EXPORT.md
projects/python_project_installation.md
projects/proj_gezondheidszorg/docs/achtergrond_informatie/bmiforpactitioners.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_en.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_nl.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/regression.pdf
projects/proj_gezondheidszorg/docs/attic/design.txt
projects/proj_gezondheidszorg/rest_server/browse.sh
projects/proj_gezondheidszorg/rest_server/create_superuser.sh
projects/proj_gezondheidszorg/rest_server/install.sh
projects/proj_gezondheidszorg/rest_server/migrate.sh
projects/proj_gezondheidszorg/rest_server/requirements.txt
projects/proj_gezondheidszorg/rest_server/start_rest_server.sh
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/manage.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata_snippet.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/webscrapedata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/asgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/settings.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/wsgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/admin.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/apps.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/models.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/serializers.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/tests.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/views.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-192x192.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-512x512.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/apple-touch-icon.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-16x16.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-32x32.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon.ico
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/load_data.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__init__.py
projects/convert_path.py
projects/PROJECT_EXPORT.md
projects/python_project_installation.md
projects/proj_gezondheidszorg/docs/achtergrond_informatie/bmiforpactitioners.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_en.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_nl.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/regression.pdf
projects/proj_gezondheidszorg/docs/attic/design.txt
projects/proj_gezondheidszorg/rest_server/browse.sh
projects/proj_gezondheidszorg/rest_server/create_superuser.sh
projects/proj_gezondheidszorg/rest_server/install.sh
projects/proj_gezondheidszorg/rest_server/migrate.sh
projects/proj_gezondheidszorg/rest_server/requirements.txt
projects/proj_gezondheidszorg/rest_server/start_rest_server.sh
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/manage.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata_snippet.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/webscrapedata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/asgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/settings.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/wsgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/admin.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/apps.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/models.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/serializers.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/tests.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/views.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-192x192.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-512x512.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/apple-touch-icon.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-16x16.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-32x32.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon.ico
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/load_data.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__init__.py
projects/proj_gezondheidszorg/docs/achtergrond_informatie/bmiforpactitioners.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_en.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/mdr_nl.pdf
projects/proj_gezondheidszorg/docs/achtergrond_informatie/regression.pdf
projects/proj_gezondheidszorg/docs/attic/design.txt
projects/proj_gezondheidszorg/rest_server/browse.sh
projects/proj_gezondheidszorg/rest_server/create_superuser.sh
projects/proj_gezondheidszorg/rest_server/install.sh
projects/proj_gezondheidszorg/rest_server/migrate.sh
projects/proj_gezondheidszorg/rest_server/requirements.txt
projects/proj_gezondheidszorg/rest_server/start_rest_server.sh
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/manage.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata_snippet.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/newdata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/webscrapedata.csv
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/asgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/settings.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/wsgi.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/admin.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/apps.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/models.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/serializers.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/tests.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/urls.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/views.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-192x192.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/android-chrome-512x512.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/apple-touch-icon.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-16x16.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon-32x32.png
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/favicon.ico
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__init__.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/load_data.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__init__.py
projects/convert_path.py
projects/PROJECT_EXPORT.md
projects/python_project_installation.md
projects/convert_path.py
projects/convert_path.py
projects/convert_path.py
